
.talkButton {

}

.mainWrapper{
	width:100vw;
	height: 100vh;
    background: linear-gradient(#40ffff, #4dd9ff);
    position:absolute;
    padding-top:75px;

}

.mainButton {
	width:80%;
	margin: 10% auto;
	text-align:center;
	text-transform:uppercase;
	padding:30px;
	background: #00bfff;
	font-size:3em;
	color:white;
	border-radius:10px;
	color:white;
}

.talkButton {
	border-top-left-radius:500px;
	border-bottom-left-radius:500px;
	border:none;
	border-right:2px solid white;
}

.textButton{
	border-top-right-radius:500px;
	border-bottom-right-radius:500px;
	border:none;
	border-left: 2px solid white;
}

.talkTextButton {
	height:100%;
	width:50%;
	background:#4dd9ff;
	float:left;
	font-size:17em;
	color:white;
}

.talkTextButtons {
	height:80vw;
	width:80vw;
	margin:0 auto;
	transform:rotate(10deg);
}

.mainButton a {
	color:white;
	font-weight:bold;
	letter-spacing: 3px ;
}