.button{
width:65%;
padding:10px;
margin-left:17.5%;
}
.formInput{
  width:100%;
  margin-top:20px;

}
input{
  width:100%;
  padding:5px;
  font-size:16px;
  border-radius: 15px;
}
.loginForm{
  width:85%;
  margin:0 auto;
  padding-top:50%;
	
}


body{
  background-image:linear-gradient(#0066ff,#4dd9ff);
  background-repeat:no-repeat;
  height:100vh;
	font-family: 'Ubuntu', sans-serif;
}
.resize {
    width: 50vw;
  margin-left: 25vw;
  padding-top: 10vw;

}
.logoimage{
  position:absolute;
}
