.sidebar-show{
    border: 1px solid black;
    width:20%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #9500b7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	color:white;
}
 .sidenav a, .sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    overflow-x: hidden;
    color:  #deceff;
    display: block;
    transition: 0.2s;
}
.sidenav a:hover {
    color:white;
	text-shadow: 2px 2px 8px white;
}
.menuBtn{
    float:right;
}
 .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.navbar{
	font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
