html, body {
	 font-family: 'Ubuntu', sans-serif;
	 text-align: center;
	 margin: auto;
}
h1{
	color: Black;
}
form {
	color: Black;
}
body{
	text-align: center;
	background-image:linear-gradient(#0066ff,#4dd9ff);
	background-repeat:no-repeat;
	background-size: cover;
	bottom:0;
}
input[type=text], select {
    width: 100%;
	
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
table{
	text-decoration: none;
	color:white;
}
#donate{
	margin: 0 auto;
}
